.footer {
    width: 99.60vw;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(143, 188, 143, 0.425);
}

* {
    font-size: 14px;
}