<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-menu></app-menu>
        </div>
        <div class="col-sm-12">
            <div class="card" style="margin-left: 70px;">
                <div class="card-body">
                    <blockquote class="blockquote mb-6">
                        <p class="lead" style="text-align: center; font-size: 28px; color:black;">Sistema de ordem de serviço</p>
                        <div class="page"></div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>