       
 <div class="container">
    <div class="row">
        <div class="col-sm">
            <app-menu></app-menu>
          </div>
        <div class="col-sm-11">
            <div class="card" style="margin-left: 100px;">
                <div class="card-body">   
                <blockquote class="blockquote mb-6">
                   <div class="jumbotron jumbotron-fluid btn-light">
                    <div class="container">
                      <p class="lead" style="text-align: center;">Sistema de ordem de serviço</p>
                    </div>
                  </div>
                </blockquote>   
                </div>
            </div>
        </div>
    </div>
 </div>

       