<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-menu></app-menu>
        </div>
        <div class="col-sm-11">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-body">
                        <nav class="navbar navbar-hover bg-ligth">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Digite o nome" aria-label="Pesquisar" name="busca" autofocus>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                            </form>
                        </nav>
                        <table class="table table-hover table-ligth">
                            <thead>
                                <tr>
                                    <th scope="col">N° O.S</th>
                                    <th scope="col">cliente</th>
                                    <th scope="col">Prazo</th>
                                    <th scope="col">Prioridade</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>101010</td>
                                    <td>seu zé</td>
                                    <td>10/05/22</td>
                                    <td>Alta</td>
                                    <td>Aberta</td>
                                    <td>
                                        <a href='#' class='btn btn-success btn-sm'>Editar</a> </td>
                                    <td> <a href='#' class='btn btn-danger btn-sm'>Excluir</a> </td>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>